<!DOCTYPE log4j:configuration SYSTEM 'log4j.dtd'>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="SERVER" class="net.brokentrain.bandsaw.log4j.CustomAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <plugin name="XMLSocketReceiver" class="org.apache.log4j.net.XMLSocketReceiver">
        <param name="Port" value="4448"/>
    </plugin>

    <logger name="org.apache.log4j.net.XMLSocketNode">
        <level value="OFF" />
    </logger>

    <logger name="org.apache.log4j.net.XMLSocketReceiver">
        <level value="OFF" />
    </logger>

    <root>
        <appender-ref ref="SERVER"/>
    </root>
</log4j:configuration>
