<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension id="Bandsaw.views" name="org.eclipse.ui.views"
        point="org.eclipse.ui.views">
        <category name="Bandsaw" id="BandsawEclipseProject.Bandsaw" />
        <view name="Bandsaw" icon="icons/bandsaw.png" category="BandsawEclipseProject.Bandsaw"
            class="net.brokentrain.bandsaw.views.BandsawView" id="net.brokentrain.bandsaw.views.BandsawView">
        </view>
    </extension>

    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
            <view ratio="0.5" relative="org.eclipse.ui.views.TaskList"
                visible="true" relationship="right"
                id="net.brokentrain.bandsaw.views.BandsawView">
            </view>
        </perspectiveExtension>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page name="Bandsaw"
            class="net.brokentrain.bandsaw.preferences.Log4jPreferencePage" id="net.brokentrain.bandsaw.preferences.Log4jPreferencePage">
        </page>
        <page name="Filters"
            category="net.brokentrain.bandsaw.preferences.Log4jPreferencePage"
            class="net.brokentrain.bandsaw.preferences.Log4jFilterPreferencePage"
            id="net.brokentrain.bandsaw.preferences.Log4jFilterPreferencePage">
        </page>
        <page name="Columns"
            category="net.brokentrain.bandsaw.preferences.Log4jPreferencePage"
            class="net.brokentrain.bandsaw.preferences.Log4jColumnsPreferencePage"
            id="net.brokentrain.bandsaw.preferences.Log4jColumnsPreferencePage">
        </page>
        <page name="Color"
            category="net.brokentrain.bandsaw.preferences.Log4jPreferencePage"
            class="net.brokentrain.bandsaw.preferences.ColorPreferencePage" id="net.brokentrain.bandsaw.preferences.ColorPreferencePage">
        </page>
    </extension>

    <extension id="net.brokentrain.bandsaw.viewactions" point="org.eclipse.ui.viewActions">
        <viewContribution targetID="net.brokentrain.bandsaw.views.BandsawView"
            id="Bandsaw.ViewContribution">
            <action style="toggle" id="Bandsaw.LockAction" toolbarPath="Group1"
                class="net.brokentrain.bandsaw.actions.LockAction" enablesFor="*"
                icon="platform:/plugin/org.eclipse.ui.console/icons/full/elcl16/lock_co.gif" label="Lock Table"
                menubarPath="Bandsaw.DisplayMenu/Bandsaw.DisplayGroup1" tooltip="&amp;Lock Table">
            </action>
            <action style="push" id="Bandsaw.ClearAction" toolbarPath="Group1"
                class="net.brokentrain.bandsaw.actions.ClearAction" enablesFor="*"
                icon="platform:/plugin/org.eclipse.ui.console/icons/full/elcl16/clear_co.gif" label="&amp;Clear Display"
                menubarPath="Bandsaw.DisplayMenu/Bandsaw.DisplayGroup1" tooltip="&amp;Clear">
            </action>
            <action style="push" id="Bandsaw.StopAction" toolbarPath="Group2"
                class="net.brokentrain.bandsaw.actions.StopAction" enablesFor="*"
                icon="icons/stop.png" label="S&amp;top Server"
                menubarPath="Bandsaw.Log4jServerMenu/Bandsaw.Log4jServerGroup1"
                tooltip="S&amp;top Server">
            </action>
            <action style="push" id="Bandsaw.StartAction" toolbarPath="Group2"
                class="net.brokentrain.bandsaw.actions.StartAction" enablesFor="*"
                icon="icons/start.png" label="&amp;Start Server"
                menubarPath="Bandsaw.Log4jServerMenu/Bandsaw.Log4jServerGroup1"
                tooltip="&amp;Start Server">
            </action>
            <action style="toggle" id="Bandsaw.ShowFilter"
                class="net.brokentrain.bandsaw.actions.ShowFilterActionDelegate" enablesFor="*"
                label="&amp;Show text filter" menubarPath="Bandsaw.ShowFilterAction"
                tooltip="&amp;Show text filter">
            </action>

            <menu label="Log4j Server" path="additions" id="Bandsaw.Log4jServerMenu">
                <separator name="Bandsaw.Log4jServerGroup1">
                </separator>
            </menu>
            <menu label="Display" path="additions" id="Bandsaw.DisplayMenu">
                <separator name="Bandsaw.DisplayGroup1">
                </separator>
            </menu>
        </viewContribution>

    </extension>

    <extension point="org.eclipse.ui.contexts">
        <context
            description="Activates in the bandsaw view"
            id="net.brokentrain.view.context"
            name="Bandsaw View"
            parentId="org.eclipse.ui.contexts.window">
        </context>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <category
            id="net.brokentrain.category"
            name="%brokentrain.category">
        </category>
        <command
            categoryId="net.brokentrain.category"
            id="net.brokentrain.commands.jump"
            name="%brokentrain.commands.jump">
        </command>
        <command
            categoryId="net.brokentrain.category"
            id="net.brokentrain.commands.view"
            name="%brokentrain.commands.view">
        </command>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key sequence="M1+O"
            commandId="net.brokentrain.commands.view"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.brokentrain.view.context"/>
        <key sequence="M1+J"
            commandId="net.brokentrain.commands.jump"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.brokentrain.view.context"/>
    </extension>

</plugin>
